@{
    ViewBag.Title = "ABOUT";
}





<body50 >
    
        <div>
            <body2 style="text-align:center">
                <br />
                <br />
                <br />
                <br />
                <br />
                <div style="background-color:lightgray">
                    <br />
                    <br />
                    <br />
                    <b style="color: darkred; font-size:550%;">ABOUT US </b>
                    <br />
                    <br />
                    <br />
                </div>
                <h3>We are committed to giving exceptional service to all our clients.</h3>
                <h3>_____________________________________________________________________________________</h3>
            </body2>
        </div>




        @*<h3>@ViewBag.Message</h3>*@
        <br />
        <br />
        <br />
        <br />



        @*
        can change orientation of picture

        <div style="margin-left:-30%; image-orientation:22deg"><h1 style="float: left;"><IMG SRC="~/Content/holdinghands.jpg"></h1></div>*@

        <p>  </p>
        <p>  </p>
        <p>  </p>

        <div class="row">
            <div style="text-align:center; background-color:darkred">
                <br />

                <h2 style=" color: white "> How Aspire Insurance started</h2>
                <p style=" color: black; font-size:150% ">
                    Launched in 2007, Aspire Insurance is South Africa’s first comparison website and compares insurance and other personal finance products from a range of South African brands. Before Aspire Insurance, consumers had to call around for hours trying to find the cheapest quote to suit their needs.

                    Aspire Insurance compares a range of South African providers, their prices and benefits in minutes via our instant real-time search results. Aspire Insurance compares Motor Insurance, Home Insurance, Business Insurance, Health, Life Insurance, Personal Loans, and more. The Aspire Insurance comparison website helps you save time and the hassle of shopping around for quotes by doing all of the hard work of searching for you. Aspire Insurance will help you find the right product, and then if you are interested, will put the selected provider in touch with you directly so that you can find out more or buy.

                    According to 2017 independent research, you could save hundreds of Rands per month* on your Car Insurance alone by Aspire Insurance. Every day, Aspire Insurance helps thousands of people compare quotes for free before they buy or switch.
                </p>
                <br />
                <br />
                @*  <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
            </div>
        </div>
        <br />
        <br />
        <br />






        <h1 style="float: left;"><IMG SRC="~/Content/holdinghands.jpg"></h1>
        <div style="text-align:center; background-color:darkred;margin-left:-1%">



            <br />
            <br />

            <h2 style=" color: white;"> </h2>
            <p style=" color: black;font-size:150% "> Discovery is a shared value insurance company whose purpose and ambition are achieved through a pioneering business model that incentivises people to be healthier, and enhances and protects their lives.</p>

            <p style=" color: black;font-size:150%  ">Our shared value insurance model delivers better health and value for clients, superior actuarial dynamics for the insurer, and a healthier society.</p>
            @*  <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
            <br />
            <br />
            <br />

            <br />

        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <br />
        <br />
        <br />

        <div class="row" style="background-color:lightgray">
            <div class="col-md-4">
                <h2 style=" color: black "> How it Works</h2>
                <p style=" color: black ">


                    Aspire Insurance makes use of cutting-edge technology to provide our customers with the best deal. Our web services are managed and run by leading and experienced web developers, meaning that our customers always have the best experience, and that the quotes are always competitive. The quotes we provide are pulled directly from our providers, which means that we always provide you with the best deal.

                    Aspire Insurance is free to use, and commission free. We make money simply by charging our partners a fee when a customer chooses to find out more about their products. This is important because, as a business, we need to make money in order to continue to provide you, our customers, with the best deals.
                </p>

            </div>
            <div class="col-md-4">
                <h2 style=" color: black ">The Telesure Group</h2>
                <p style=" color: black ">


                    Rest assured, Aspire Insurance is part of the Telesure Group, but we are a completely separate business and pride ourselves on always being unbiased and impartial. Most of the leading comparison websites around the world are owned and run by an insurance group, providing stability and expertise in the insurance industry. The Telesure Group owns and operates several of South Africa’s leading insurance brands.

                    Like international comparison websites, our search results and quotes are ordered by price alone. We don’t favour any brands as our mission is to provide our customers with the best insurance deal, always acting unbiased and impartially to find you the best deal.
                </p>

            </div>

            <div class="col-md-4">
                <h2 style=" color: black ">Who We Work With</h2>
                <p style=" color: black ">


                    Our partners include a wide range of South Africa’s leading insurance, finance and other industry brands. We carefully select all our partners, and we are always striving to add more partners in order to provide you, our customers, with the best deal.
                </p>
                <h2 style=" color: black ">International</h2>
                <p style=" color: black ">


                    The BGL Group, part of the greater Telesure Group also own comparison websites across the globe such as comparethemarket.com in the UK and Australia, LesFurets.com in France, Hoyhoy in Holland and a few more.
                </p>

            </div>
        </div>













    <br />
    <br />
    <br />
    <br />


    







































</body50>
