@{
    ViewBag.Title = "CONTACT";
}



    <body2 style="text-align:center">
        <br />
        <br />
        <br />
        <br />
        <br />
        <div style="background-color:lightgray">
            <br />
            <br />
            <br />
            <b style="color: darkred; font-size:550%;">CONTACT </b>
            <br />
            <br />
            <br />
        </div>


        <h3>_____________________________________________________________________________________</h3>

        <br />
        <br />
        <br />
     

<html>
<body>


    <p><a href="https://www.google.com/maps/place/7+Ritson+Rd,+Musgrave,+Berea,+4001/data=!4m2!3m1!1s0x1ef7a9e656aefaf5:0xcaedfa51de91dfc1?sa=X&ved=2ahUKEwjJsuan1fbdAhXDDcAKHSbGAYIQ8gEwAHoECAAQAQ"><img src="~/Content/Screenshot (3).png" alt="" width="1150" height="400"></a></p>

    @*
        <div id="googleMap" style="width:100%;height:400px;"></div>

        <script>
            function myMap() {
                var mapProp = {
                    center: new google.maps.LatLng(-29.85139, 31.00722),
                    zoom: 5,
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?&callback=myMap"></script>
    *@
</body>



</html>

<br />
<br />
<br />


<div style="background-image:url('../../Content/contact us.jpg')">

    <br />
    <br />
    <br />
    <br />
  
   
    <address style="font-size:150%">
        7 Ritson Rd<br />
        Overport, Durban, <br />
        4001 <br />
        <abbr title="Phone">Phone:</abbr>
        031 258 2654
    </address>

    <address style="font-size:150%">
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
    </address>

    <br />
    <br />
    <br />
    <br />
</div>



</body2>




