@{
    ViewBag.Title = "HOME PAGE";


}

<p>  </p>
<p>  </p>
<p>  </p>
<html>

<body style="text-align:center; background-position-y:100%; background-image:url(../../Content/bmwpiccrop.jpg);background-color:black">


</body>
</html>
<div style="background-color:darkred;" class="jumbotron">


    <h1 align="center" style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color:black; font-size:950%; "> ASPIRE INSURANCE </h1>
    <p style=" color: white "> No worries, we’ve got you covered!</p>

    @*   <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

</div>

<div class="row">
    <div class="col-md-4">
        <h2 style=" color: white "> About Us</h2>
        <p style=" color: white ">
            Do you want more info about who you Insureing with?
            Click the link below and find out more imfoformation about our company Aspire Insurance
        </p>
        <p><a class="btn btn-default" href="http://localhost:53109/Home/About">About Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style=" color: white ">Contact</h2>
        <p style=" color: white ">Have any questions? Get in contact with us so we can answer your questions and also if you want to find out any more information.</p>
        <p><a class="btn btn-default" href="http://localhost:53109/Home/Contact">Contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style=" color: white ">Policies</h2>
        <p style=" color: white ">Want more information about the policies and products that we offer? You can Find them out there at our Policies page.</p>
        <p><a class="btn btn-default" href="http://localhost:53109/Home/Policy">Policies &raquo;</a></p>
    </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<br />
<br />
<br />





