
@{
    ViewBag.Title = "POLICY";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body2 style="text-align:center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div style="background-color:lightgray">
        <br />
        <br />
        <br />
        <b style="color: darkred; font-size:550%;">POLICY </b>
        <br />
        <br />
        <br />
    </div>
    <h1 style="font-size:150%"> Get market-leading car insurance at highly competitive rates from Discovery Insure. Our innovative car insurance cover also offers convenient service features and the option to join Vitality Drive, our driver behaviour programme that rewards your good driving while keeping you safe, with state-of-the-art safety features. </h1>


    <h3>_____________________________________________________________________________________</h3>
</body2>





<br />
<br />
<br />
<br />
<br />



<IMG SRC="~/Content/business-block-1-fire.jpg" width="500" height="500" ALIGN="left" hspace="80" sty />

<br />
<br />
<br />
<br />
<br />
<br />


<h1 style="color: black ;font-size:150%;"> Motor, motorcycle and fleet </h1>
<p style="font-size:20px;color:darkred">
    We’ll cover your vehicle, including motorcycles, trailers and caravans, and its accessories and spare parts against loss or damage following an incident.  In addition, if your vehicle has been damaged to such an extent that it’s considered to be ‘not driveable’, OUTsurance will also pick up the bill for securing and taking the vehicle to the nearest repairers.
</p>
<br />
<br />
<br />

<p>  </p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<IMG SRC="~/Content/car-comprehensive-block1.jpg" width="500" height="500" ALIGN="right" hspace="80" sty />

<br />
<br />
<br />
<br />
<br />
<br />


<h1 style="color: black ;font-size:150%;"> Why choose our comprehensive car insurance package? </h1>
<br />
<p style="font-size:20px;color:darkred">
    A more comprehensive car insurance deal that fits both your budget and your specific needs is hard to come by. Especially cover that comes with so many benefits.

    Don't settle for second best! Get comprehensive car insurance today.
</p>
<br />
<br />


<p>  </p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<IMG SRC="~/Content/car-comprehensive-block2.jpg" width="500" height="500" ALIGN="left" hspace="80" sty />

<br />
<br />
<br />
<br />
<br />
<br />


<h1 style="color: black ;font-size:150%">Comprehensive car insurance to cover the bases! </h1>
<p style="font-size:20px;color:darkred">
    Our Comprehensive car insurance product is designed to ensure you’re covered against loss or damage be it from theft, hijacking, fire and liability claims, or accidental, flood, hail and intentional damage caused by someone else.
</p>
<br />
<br />
<br />

<p>  </p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<IMG SRC="~/Content/crash.jpg" width="500" height="500" ALIGN="right" hspace="80" sty />


<br />
<br />
<br />

<br />
<h1 style="color: black ;font-size:180%">Written Off </h1>
<h1 style="color: black ;font-size:150%">The end of a beautiful relationship. </h1>
<p style="font-size:20px;color:darkred">The sight of a written-off vehicle is heartbreaking at the best of times. If you’re the owner, it’s even worse. Sure, we’re going to give you some sort of compensation for your loss, but to put a price on the love of a man (or woman) for his (or her) car? It certainly won’t bring your car back and it most definitely won’t make up for your loss. We get this. We really do. But – please consider why this really is the best decision (for the both of us).</p>
<br />


<br />
<br />
<br />
<h1 style="color: black ;font-size:150%">It’s not you, it’s us. </h1>
<p style="font-size:20px;color:darkred">
    Here’s the thing: we may need to write off your car if it’s going to cost us more to have it fixed (back to its original roadworthy state) than actually just calling it 'quits' and paying you the insured value (minus the excess) in cash.

    After an accident, we’ll send out an assessor to determine the extent of the damage to your vehicle. The assessor will also look at the availability of parts and the age and condition of your vehicle before he makes a decision.

    Instead of simply applying a fixed percentage threshold (e.g. if the damage to your car is more than 60% of vehicle’s value) to establish whether or not the car is a write off, we prefer look at the historical salvage data for your specific vehicle model and type to determine a more accurate write-off threshold.
</p>


<br />
<br />

<p>  </p>




<br />
<br />
<br />
<br />

<IMG SRC="~/Content/r35engine.jpg" width="500" height="400" ALIGN="left" hspace="80" sty />

<br />
<br />
<br />




<h1 style="color: black ;font-size:150%;"> ServiceXtender </h1>
<p style="font-size:20px;color:darkred">
    ServiceXtender is an optional benefit to help you pay for the services of your car. You can choose how much you will need per year. We will pay the workshop directly for changing of oil and oil filters, replacing air and fuel filters, spark plugs, brake fluid and even washing your car. But we won’t pay for parts that need replacing because of wear and tear like tyres, wiper blades, brake pads, etc.
</p>
<br />
<br />


<p>  </p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="section-text lighten-3">
    <div class="container">
        <div class="row text-xs-center m-b-2">
            <div class="col-md-10 offset-md-1">
                <h2>Comprehensive car insurance benefits and features</h2>
            </div>
        </div>
        <div class="row m-t-3">
            <div class="col-xs-12">
                <div>
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th class="text-xs-center" style="vertical-align: middle;" width="28%">&nbsp;</th>
                                <th class="text-xs-center" style="vertical-align: middle;" width="18%">Dynamic Plan</th>
                                <th class="text-xs-center" style="vertical-align: middle;" width="18%">Essential Plan</th>
                                <th class="text-xs-center" style="vertical-align: middle;" width="18%">Classic Plan</th>
                                <th class="text-xs-center" style="vertical-align: middle;" width="18%">Executive Plan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="p-y-1">
                                    <p class="lead">PAY NO EXCESS</p>
                                    <ul class="m-b-0">
                                        <li>You pay no excess in the event of theft-related or weather-related claims</li>
                                        <li>You pay no excess if an accident was caused by an insured third party</li>
                                    </ul>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">&nbsp;</td>
                                <td class="text-xs-center" style="vertical-align: middle;">&nbsp;</td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-y-1">
                                    <p class="lead">EXCESS FLEXIBILITY</p>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-y-1">
                                    <p class="lead">CAR HIRE OR UBER</p>
                                    <p class="m-b-0">Your Plan includes car hire for up to 30 days when you claim and optional Uber benefits</p>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">&nbsp;</td>
                                <td class="text-xs-center" style="vertical-align: middle;">&nbsp;</td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-y-1">
                                    <p class="lead">EMERGENCY ROADSIDE ASSISTANCE, INCLUDING DIRECTIONASSIST AND TRIPMONITOR</p>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-y-1">
                                    <p class="lead">TOWING AND STORAGE</p>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-y-1">
                                    <p class="lead">RECOVERING KEYS, LOCKS AND REMOTE CONTROLS</p>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-y-1">
                                    <p class="lead">TRAUMA SUPPORT</p>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                            </tr>
                            <tr>
                                <td class="p-y-1">
                                    <p class="lead">PERSONAL LIABILITY COVER</p>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                                <td class="text-xs-center" style="vertical-align: middle;">
                                    <svg aria-hidden="true" class="material svg-check svg-24 fg-action" viewBox="0 0 18 18">
                                        <title>check</title>
                                        <path d="M6.75 12.129l7.945-7.945 1.055 1.055-9 9-4.184-4.184 1.055-1.055z"></path>
                                    </svg>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />









@*
    this allows a pic and can click on it to redirect


    <p><a href="~/Content/bmwpic.jpg"><img src="~/Content/bmwpic.jpg" alt="" width="840" height="740"></a></p>




*@
